doctype html
html(lang='en')
  head
    title Ivan's Pets
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Iván's Pets
    table
      thead
        tr
          td Name
          td Kind
          td Age
      tbody
        each pet in data
          tr
            td #{pet.properties.name}
            td #{pet.properties.kind}
            td #{pet.properties.age}