doctype html
html(lang='en')
  head
    title Ivan's Pets
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .content
      h1 Iván's Pets
      a.nav(href='/update-cobj') Update/AddNewPet
      table
        thead
          tr
            th Name
            th Kind
            th Age
        tbody
          each pet in data
            tr
              td #{pet.properties.name}
              td #{pet.properties.kind}
              td #{pet.properties.age}